.nav {
  display: flex;
}

h2 {
  font-size: xx-large;
  color: rgb(10, 16, 79);
  margin-top: 1cm;
  margin-left: 14cm;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  margin-left: 2cm;
  font-size: 45px;
}

.search {
  margin-left: 10cm;

}

.search_inout {
  width: 50%;
  height: .6cm;
}

.btn_submit {
  background-color: red;
  border: none;
  border-radius: 3px;
  height: .72cm;
  margin-left: 6px;
  width: 1.7cm;
  color: white;
}

h3 {
  margin-top: .6cm;
  margin-left: 2cm;
  font-size: 1cm;
}

.product-container {
  cursor: pointer;
  border-radius: 10px;
  background-color: aliceblue;
  width: 88%;
  margin-left: 2cm;
  display: flex;
  align-items: center;
}
.product-container:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}
.rating {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.info {
  width: 50%;
  margin-left: 80px;
}

h4 {
  font-size: 1.2em;
}

p {
  margin-bottom: 10px;
}
.main{
  display:inline;
}
img{
  width: 30%;
  height: 6.2cm;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}
.cart{
  margin-top: .75cm;
  margin-left: 1cm;
  font-size: 1cm;
  cursor: pointer;
}
.login{
  margin-top: 1.1cm;
  margin-left: 10px;
  cursor: pointer;
}
.logout{
  margin-top: 1.1cm;
  margin-left: 13px;
  cursor: pointer;
}
.cartbtn{
  margin-left: 8.7cm;
  border-radius: 6px;
  color: white;
  background-color: rgb(41, 156, 154);
  border: none;
  height: 1cm;
  cursor: pointer;
}
.cart-items{
  margin: 10px;
  display: flex;
  width: 50%;
  align-items: center;
  margin-left: 9cm;
  margin-top: .5cm;
  background-color: rgb(235, 231, 223);

}























/* https://xhamster20.desi/videos/young-latina-couple-having-real-sex-in-secret-xhmJq6O */